
.banner {
    display: flex;
    height: 977px; 
    
  }

 .menu{
    background-color: transparent !important;
 }

 .textoBanner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}



  .alcance {
    font-size:30px ;
  }

  .textoBanner h1{
    font-size: 100px;
  }

  .lorem{
    font-size:20px ;
  }