.banner {
  display: flex;
  height: 977px; 
  
}

.menu{
  background-color: transparent !important;
}


.tarjeta{
  border-radius: 70px;
}


.alcance {
  font-size:30px ;
  color: white;
}

.particulas h1{
  font-size: 100px;
  color: white;

}



.lorem{
  font-size:20px ;
  color: white;
}


  .video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: contain;

  }

.bailarin {
  float: right;
}

.purple-button {
  background-color:  #6f42c1;;
  color: #6f42c1;;
}

